*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
background:white;
}

/* MAIN CONTAINER */

.container{
display:flex;
height:100vh;
width:100%;
}

/* LEFT SIDE */

.left-section{
flex:1;
background:#2e7d32;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
}

.logo{
width:80px;
height:80px;
background:white;
color:#2e7d32;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
font-size:40px;
margin-bottom:20px;
}

.left-section h1{
font-size:48px;
margin-bottom:10px;
}

.left-section p{
font-size:18px;
opacity:0.9;
}

/* RIGHT SIDE */

.right-section{
flex:1;
background:#f5f5f5;
display:flex;
justify-content:center;
align-items:center;
}

/* LOGIN CARD */

.login-card{
background:white;
padding:35px;
width:360px;
border-radius:15px;
box-shadow:0 6px 20px rgba(0,0,0,0.1);
text-align:center;
}

.login-card h2{
margin-bottom:20px;
color:#444;
}

/* CONTACT INPUT */

.contact-input{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:8px;
margin-top:10px;
font-size:16px;
outline:none;
background:white;
color:#333;
}

.contact-input::placeholder{
color:#888;
}

.contact-input:focus{
border-color:#2e7d32;
background:white;
}

/* ERROR MESSAGE */

.error{
color:red;
font-size:13px;
margin-top:5px;
text-align:left;
}

/* OTP TEXT */

.otp-text{
margin-top:15px;
font-size:14px;
color:#141414;
}

/* OTP BOXES */

.otp-box{
display:flex;
justify-content:center;
gap:10px;
margin-top:15px;
}

.otp-box input{
width:50px;
height:50px;
border:1px solid #ccc;
border-radius:6px;
text-align:center;
font-size:20px;
outline:none;
background:white;
color:#000;
font-weight:600;
}


.otp-box input:focus{
border:2px solid #2e7d32;
color:#000;
}

/* BUTTON */

.verify-btn{
width:100%;
margin-top:25px;
padding:12px;
border:none;
background:#2e7d32;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

.verify-btn:hover{
background:#256628;
}

/* DISABLED BUTTON */

.verify-btn:disabled{
background:#9e9e9e;
cursor:not-allowed;
}
